# Discovery

By now, world population is in constant increase. The more the people, the more the food we need that translate in an increase of use of natural resources.


But which are the product we produce that exploit most resources? Which countries contribute to the exploitation of natural resources?

**Goal**: Discovering which are the top 10 products that use more water, need more land and emit more gas. Then discovering which countries are the most producer of each category

# Data Selection

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.options.display.max_colwidth = 100

In [3]:
fao_df = pd.read_csv('FAO.csv', encoding='latin-1')
food_pr_df = pd.read_csv('Food_Production.csv')

# Data Cleaning

##### FAO Data

In [6]:
fao_df.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,Y1971,Y1972,Y1973,Y1974,Y1975,Y1976,Y1977,Y1978,Y1979,Y1980,Y1981,Y1982,Y1983,Y1984,Y1985,Y1986,Y1987,Y1988,Y1989,Y1990,Y1991,Y1992,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,Y1999,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,1928.0,1904.0,1666.0,1950.0,2001.0,1808.0,2053.0,2045.0,2154.0,1819.0,1963.0,2215.0,2310.0,2335.0,2434.0,2512.0,2282.0,2454.0,2443.0,2129.0,2133.0,2068.0,1994.0,1851.0,1791.0,1683.0,2194.0,1801.0,1754.0,1640.0,1539.0,1582.0,1840.0,1855.0,1853.0,2177.0,2343.0,2407.0,2463.0,2600.0,2668.0,2776.0,3095.0,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,183.0,183.0,182.0,220.0,220.0,195.0,231.0,235.0,238.0,213.0,205.0,233.0,246.0,246.0,255.0,263.0,235.0,254.0,270.0,259.0,248.0,217.0,217.0,197.0,186.0,200.0,193.0,202.0,191.0,199.0,197.0,249.0,218.0,260.0,319.0,254.0,326.0,347.0,270.0,372.0,411.0,448.0,460.0,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,76.0,76.0,76.0,76.0,76.0,75.0,71.0,72.0,73.0,74.0,71.0,70.0,72.0,76.0,77.0,80.0,60.0,65.0,64.0,64.0,60.0,55.0,53.0,51.0,48.0,46.0,46.0,47.0,46.0,43.0,43.0,40.0,50.0,46.0,41.0,44.0,50.0,48.0,43.0,26.0,29.0,70.0,48.0,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,237.0,237.0,237.0,238.0,238.0,237.0,225.0,227.0,230.0,234.0,223.0,219.0,225.0,240.0,244.0,255.0,185.0,203.0,198.0,202.0,189.0,174.0,167.0,160.0,151.0,145.0,145.0,148.0,145.0,135.0,132.0,120.0,155.0,143.0,125.0,138.0,159.0,154.0,141.0,84.0,83.0,122.0,144.0,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,210.0,210.0,214.0,216.0,216.0,216.0,235.0,232.0,236.0,200.0,201.0,216.0,228.0,231.0,234.0,240.0,228.0,234.0,228.0,226.0,210.0,199.0,192.0,182.0,173.0,170.0,154.0,148.0,137.0,144.0,126.0,90.0,141.0,150.0,159.0,108.0,90.0,99.0,72.0,35.0,48.0,89.0,63.0,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200

In [ ]:
fao_df.shape

In [10]:
# droppo le colonne che non mi servono

In [5]:
# controllare che i nomi che delle colonne siano sensati (forse togliere spazi, maiuscole)

In [4]:
fao_df.columns

Index(['Area Abbreviation', 'Area Code', 'Area', 'Item Code', 'Item',
       'Element Code', 'Element', 'Unit', 'latitude', 'longitude', 'Y1961',
       'Y1962', 'Y1963', 'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969',
       'Y1970', 'Y1971', 'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977',
       'Y1978', 'Y1979', 'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985',
       'Y1986', 'Y1987', 'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993',
       'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001',
       'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009',
       'Y2010', 'Y2011', 'Y2012', 'Y2013'],
      dtype='object')

In [ ]:
# controllare che i nomi dei valori delle colonne qualitative siano sensati

In [7]:
for col in fao_df.columns: 
    if fao_df[col].dtypes == "O" or col == 'Area Code':
        var_unique = fao_df[col].unique()
        var_unique.sort()
        var_n = fao_df[col].nunique()
        print(f'{col}\n\n{var_unique}\n\ncount: {var_n}', end=f'\n\n\n{"-"*100}\n\n\n')

Area Abbreviation

['AFG' 'AGO' 'ALB' 'ARE' 'ARG' 'ARM' 'ATG' 'AUS' 'AUT' 'AZE' 'BEL' 'BEN'
 'BFA' 'BGD' 'BGR' 'BIH' 'BLR' 'BLZ' 'BMU' 'BOL' 'BRA' 'BRB' 'BRN' 'BWA'
 'CAF' 'CAN' 'CHE' 'CHL' 'CHN' 'CIV' 'CMR' 'COD' 'COL' 'CPV' 'CRI' 'CUB'
 'CYP' 'CZE' 'DEU' 'DJI' 'DMA' 'DNK' 'DOM' 'DZA' 'ECU' 'EGY' 'ESP' 'EST'
 'ETH' 'FIN' 'FJI' 'FRA' 'GAB' 'GBR' 'GEO' 'GHA' 'GIN' 'GMB' 'GNB' 'GRC'
 'GRD' 'GTM' 'GUY' 'HND' 'HRV' 'HTI' 'HUN' 'IDN' 'IND' 'IRL' 'IRN' 'IRQ'
 'ISL' 'ISR' 'ITA' 'JAM' 'JOR' 'JPN' 'KAZ' 'KEN' 'KGZ' 'KHM' 'KIR' 'KNA'
 'KOR' 'KWT' 'LAO' 'LBN' 'LBR' 'LCA' 'LKA' 'LSO' 'LTU' 'LUX' 'LVA' 'MAR'
 'MDA' 'MDG' 'MDV' 'MEX' 'MLI' 'MLT' 'MMR' 'MNE' 'MNG' 'MOZ' 'MRT' 'MUS'
 'MWI' 'MYS' 'NAM' 'NCL' 'NER' 'NGA' 'NIC' 'NLD' 'NOR' 'NPL' 'NZL' 'OMN'
 'PAK' 'PAN' 'PER' 'PHL' 'POL' 'PRT' 'PRY' 'PYF' 'QAT' 'ROU' 'RUS' 'RWA'
 'SAU' 'SDN' 'SEN' 'SLB' 'SLE' 'SLV' 'SRB' 'STP' 'SUR' 'SVK' 'SVN' 'SWE'
 'SWZ' 'TCD' 'TGO' 'THA' 'TJK' 'TKM' 'TLS' 'TTO' 'TUN' 'TUR' 'TZA' 'UGA'
 'UKR' 'URY' 'USA' 'UZB' 'VCT' 'VEN' 'VNM' 'VUT' 'WSM' 'YEM' 'ZAF' 'ZMB'
 'ZWE']

count: 169


----------------------------------------------------------------------------------------------------


Area Code

[  1   2   3   4   7   8   9  10  11  12  14  16  17  19  20  21  23  25
  26  27  28  32  33  35  37  38  39  40  41  44  46  48  49  50  52  53
  54  55  56  57  58  59  60  63  66  67  68  70  72  73  74  75  79  80
  81  83  84  86  89  90  91  93  95  96  97  98  99 100 101 102 103 104
 105 106 107 108 109 110 112 113 114 115 116 117 118 119 120 121 122 123
 126 128 129 130 131 132 133 134 136 137 138 141 143 144 146 147 149 150
 153 154 155 156 157 158 159 162 165 166 167 169 170 171 173 174 175 176
 181 183 184 185 188 189 191 193 194 195 197 198 199 202 203 207 208 209
 210 211 213 214 215 216 217 220 221 222 223 225 226 229 230 231 233 234
 235 236 237 238 244 249 251 255 256 272 273 276]

count: 174


----------------------------------------------------------------------------------------------------


Area

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda'
 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Cabo Verde'
 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic' 'Chad' 'Chile'
 'China, Hong Kong SAR' 'China, Macao SAR' 'China, Taiwan Province of'
 'China, mainland' 'Colombia' 'Congo' 'Costa Rica' 'Croatia' 'Cuba'
 'Cyprus' 'Czechia' "Côte d'Ivoire"
 "Democratic People's Republic of Korea" 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Ethiopia'
 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica'
 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives'
 'Mali' 'Malta' 'Mauritania' 'Mauritius' 'Mexico' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Norway'
 'Oman' 'Pakistan' 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Republic of Korea' 'Republic of Moldova' 'Romania'
 'Russian Federation' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Sierra Leone' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname'
 'Swaziland' 'Sweden' 'Switzerland' 'Tajikistan' 'Thailand'
 'The former Yugoslav Republic of Macedonia' 'Timor-Leste' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United Republic of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Yemen' 'Zambia' 'Zimbabwe']

count: 174


----------------------------------------------------------------------------------------------------


Item

['Alcoholic Beverages' 'Animal fats' 'Apples and products'
 'Aquatic Animals, Others' 'Aquatic Plants' 'Aquatic Products, Other'
 'Bananas' 'Barley and products' 'Beans' 'Beer' 'Beverages, Alcoholic'
 'Beverages, Fermented' 'Bovine Meat' 'Butter, Ghee'
 'Cassava and products' 'Cephalopods' 'Cereals - Excluding Beer'
 'Cereals, Other' 'Citrus, Other' 'Cloves' 'Cocoa Beans and products'
 'Coconut Oil' 'Coconuts - Incl Copra' 'Coffee and products' 'Cottonseed'
 'Cottonseed Oil' 'Cream' 'Crustaceans' 'Dates' 'Demersal Fish' 'Eggs'
 'Fats, Animals, Raw' 'Fish, Body Oil' 'Fish, Liver Oil' 'Fish, Seafood'
 'Freshwater Fish' 'Fruits - Excluding Wine' 'Fruits, Other'
 'Grapefruit and products' 'Grapes and products (excl wine)'
 'Groundnut Oil' 'Groundnuts (Shelled Eq)' 'Honey' 'Infant food'
 'Lemons, Limes and products' 'Maize Germ Oil' 'Maize and products'
 'Marine Fish, Other' 'Meat' 'Meat, Aquatic Mammals' 'Meat, Other'
 'Milk - Excluding Butter' 'Millet and products' 'Miscellaneous'
 'Molluscs, Other' 'Mutton & Goat Meat' 'Nuts and products' 'Oats'
 'Offals' 'Offals, Edible' 'Oilcrops' 'Oilcrops Oil, Other'
 'Oilcrops, Other' 'Olive Oil' 'Olives (including preserved)' 'Onions'
 'Oranges, Mandarines' 'Palm Oil' 'Palm kernels' 'Palmkernel Oil' 'Peas'
 'Pelagic Fish' 'Pepper' 'Pigmeat' 'Pimento' 'Pineapples and products'
 'Plantains' 'Potatoes and products' 'Poultry Meat' 'Pulses'
 'Pulses, Other and products' 'Rape and Mustard Oil'
 'Rape and Mustardseed' 'Rice (Milled Equivalent)' 'Ricebran Oil'
 'Roots, Other' 'Rye and products' 'Sesame seed' 'Sesameseed Oil'
 'Sorghum and products' 'Soyabean Oil' 'Soyabeans' 'Spices'
 'Spices, Other' 'Starchy Roots' 'Stimulants' 'Sugar & Sweeteners'
 'Sugar (Raw Equivalent)' 'Sugar Crops' 'Sugar beet' 'Sugar cane'
 'Sugar non-centrifugal' 'Sunflower seed' 'Sunflowerseed Oil'
 'Sweet potatoes' 'Sweeteners, Other' 'Tea (including mate)'
 'Tomatoes and products' 'Treenuts' 'Vegetable Oils' 'Vegetables'
 'Vegetables, Other' 'Wheat and products' 'Wine' 'Yams']

count: 115


----------------------------------------------------------------------------------------------------


Element

['Feed' 'Food']

count: 2


----------------------------------------------------------------------------------------------------


Unit

['1000 tonnes']

count: 1


----------------------------------------------------------------------------------------------------

At first, all the names seems fine with no mistakes although the *Area Abbreviation* and the *Area* count do not match. Let's investigate why

In [8]:
# checking if there are more than 1 country with the same area code
a_code_unique = fao_df.groupby('Area Abbreviation')['Area'].nunique()
a_code_unique[a_code_unique > 1]

Area Abbreviation
AZE    2
CHN    4
THA    2
Name: Area, dtype: int64

As suspected, 3 *Area Abbreviation* are associated with more than 1 country. Let's find out which countries fall under the same code

In [9]:
cond = fao_df['Area Abbreviation'].isin(['AZE', 'THA', 'CHN'])
fao_df.loc[cond].groupby('Area Abbreviation')['Area'].unique()

Area Abbreviation
AZE                                                                   [Azerbaijan, Bahamas]
CHN    [China, Hong Kong SAR, China, Macao SAR, China, mainland, China, Taiwan Province of]
THA                                   [Thailand, The former Yugoslav Republic of Macedonia]
Name: Area, dtype: object

The result of the investigation evidenciate that *Bahamas* and *The former Yugoslav Republic of Macedonia* fall under the wrong *Area abbreviation* code

In [ ]:
# controllare se ci sono righe o colonne duplicate
fao_df.drop_duplicates(keep='first')

In [ ]:
# controllare informazioni generali (dtypes eccetera)
# controllare i dati mancanti ed eventualment perché (imputation)

In [12]:
for col in fao_df.columns:
    print(f'''
    {col}:\n
    type: {fao_df[col].dtypes}
    missing value percentage: {round((fao_df[col].isnull().sum()/fao_df.shape[0]*100), 2)}% ---> {fao_df[col].isnull().sum()}/{fao_df.shape[0]*100}
    
    ''')

    Area Abbreviation:

    type: object
    missing value percentage: 0.0% ---> 0/2147700



    Area Code:

    type: int64
    missing value percentage: 0.0% ---> 0/2147700



    Area:

    type: object
    missing value percentage: 0.0% ---> 0/2147700



    Item Code:

    type: int64
    missing value percentage: 0.0% ---> 0/2147700



    Item:

    type: object
    missing value percentage: 0.0% ---> 0/2147700



    Element Code:

    type: int64
    missing value percentage: 0.0% ---> 0/2147700



    Element:

    type: object
    missing value percentage: 0.0% ---> 0/2147700



    Unit:

    type: object
    missing value percentage: 0.0% ---> 0/2147700



    latitude:

    type: float64
    missing value percentage: 0.0% ---> 0/2147700



    longitude:

    type: float64
    missing value percentage: 0.0% ---> 0/2147700



    Y1961:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1962:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1963:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1964:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1965:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1966:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1967:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1968:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1969:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1970:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1971:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1972:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1973:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1974:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1975:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1976:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1977:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1978:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1979:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1980:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1981:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1982:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1983:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1984:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1985:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1986:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1987:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1988:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1989:

    type: float64
    missing value percentage: 16.48% ---> 3539/2147700



    Y1990:

    type: float64
    missing value percentage: 15.9% ---> 3415/2147700



    Y1991:

    type: float64
    missing value percentage: 15.9% ---> 3415/2147700



    Y1992:

    type: float64
    missing value percentage: 4.6% ---> 987/2147700



    Y1993:

    type: float64
    missing value percentage: 2.85% ---> 612/2147700



    Y1994:

    type: float64
    missing value percentage: 2.85% ---> 612/2147700



    Y1995:

    type: float64
    missing value percentage: 2.85% ---> 612/2147700



    Y1996:

    type: float64
    missing value percentage: 2.85% ---> 612/2147700



    Y1997:

    type: float64
    missing value percentage: 2.85% ---> 612/2147700



    Y1998:

    type: float64
    missing value percentage: 2.85% ---> 612/2147700



    Y1999:

    type: float64
    missing value percentage: 2.85% ---> 612/2147700



    Y2000:

    type: float64
    missing value percentage: 1.62% ---> 349/2147700



    Y2001:

    type: float64
    missing value percentage: 1.62% ---> 349/2147700



    Y2002:

    type: float64
    missing value percentage: 1.62% ---> 349/2147700



    Y2003:

    type: float64
    missing value percentage: 1.62% ---> 349/2147700



    Y2004:

    type: float64
    missing value percentage: 1.62% ---> 349/2147700



    Y2005:

    type: float64
    missing value percentage: 1.62% ---> 349/2147700



    Y2006:

    type: float64
    missing value percentage: 0.48% ---> 104/2147700



    Y2007:

    type: float64
    missing value percentage: 0.48% ---> 104/2147700



    Y2008:

    type: float64
    missing value percentage: 0.48% ---> 104/2147700



    Y2009:

    type: float64
    missing value percentage: 0.48% ---> 104/2147700



    Y2010:

    type: float64
    missing value percentage: 0.48% ---> 104/2147700



    Y2011:

    type: float64
    missing value percentage: 0.48% ---> 104/2147700



    Y2012:

    type: int64
    missing value percentage: 0.0% ---> 0/2147700



    Y2013:

    type: int64
    missing value percentage: 0.0% ---> 0/2147700

In [ ]:
# controllare eventuali valori anomali

In [ ]:
# droppare le colonne che non mi servono

In [ ]:
cols_with_missing = [col for col in fao_df.columns if fao_df[col].isnull().any()]
fao_df.loc[:, cols_with_missing]

# Data Exploration

In [ ]:
df.rename({n:n[1:] for n in df.columns if 'Y' in df.columns})

# Data Transformation

# Data Visualization

In [12]:
df.groupby('Area')['Item']

NameError: name 'df' is not defined